* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 0;
  font-size: 60px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

.game-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
}

.game{
  display: flex;
  flex-direction: row;
}

.status{
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: bold;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.game-info {
  margin-left: 20px;
  margin-top: 20px;
}
.game-info ol li {
  margin: 3px 0;
}

.game-info ol li button{
  background-color: #fff;
  color: black;
  border: 1px solid black;
  padding: 3px;
  cursor: pointer;
}

.game-info ol li button:hover {
  background-color: black;
  color: #fff;
}
